{% extends "padre.html" %}

{% load static %}

{% block Titulo %}

Buscar Ligas

{% endblock Titulo%}

{% block cuerpo1 %}


    <form action="/FA/BuscarLiga/" method="GET">
        
        <input type="text" name="nombre">

        <input type="submit" value="Buscar">

    </form>
    <br>
    <br>

    <p style="color: white;font-size: 150%;">{{mensaje}}</p>
{% endblock cuerpo1 %}


{% block cuerpo %}


{% for leagues in leagues %}
    <p style="color: white;">Nombre: {{leagues.nombre}}</p>
    <p style="color: white;">Pais: {{leagues.pais}}</p>
    <p style="color: white;">División :{{leagues.division}}</p>

    <br>
{% endfor %}

{% endblock cuerpo %}
