{% extends "padre.html" %}

{% load static %}

{% block Titulo %}

Sobre Mí

{% endblock Titulo %}

{% block cuerpo1 %}

<p style="color: whitesmoke; font-size: 150%;" >Hola, mi nombre es Lucas Bermúdez, tengo 20 años y soy de Montevideo, Uruguay. <br> 
Actualmente estudio ingeniería en computación y trabajo en un centro de cómputos. <br>
El motivo por el cual me inscribí a este curso es el de tener más herramientas a futuro con las cuales trabajar, además, me interesa la inteligencia
artificial y python es un lenguaje el cual me permite hacerlo.</p>

{% endblock cuerpo1 %}

{% block cuerpo %}

<a href="">Sobre Mi</a>

{% endblock cuerpo %}